Requirements
	Bachelor’s degree 
	3 years of software development experience utilizing Java
	US Citizen/ GC 

Skills
	Scrum/ Agile/ Waterfall
	Efficient in Java/JS
	Exposed to Python/C++/C#/.NET/
	Software Development Life Cycle (SDLC)
	System Development ??
	Technical Design ??
	Control Systems Design ??
	Service Orientation ?? 
	Assessment ??
	Documentation 
	Jenkins

Experience
	version-control system (GIT/Subversion)  
	Integrated Development Environment (IDE) (IntelliJ/Eclipse/VisualStudioCode/Br)
	configuration/build tool (Maven)
	continuous-integration server (Jenkins)
	unit-testing framework (JUnit)
	third-party APIs and frameworks (Spring)
	Scrum environment
	Service-Oriented Architectures (SOA) and web service paradigms and protocols (SOAP and REST)
	Single-Page Applications (SPA)